extends layouts/_default

block data
  -
    vars = {
      title: 'Main',
      og_type: '',
      og_title: '',
      og_url: '',
      og_image: '',
      og_description: ''
    }

block header
  h1 Header

block content
  h2 Main content

block footer
  h3 Footer