extends layouts/_default

block data
  -
    vars = {
      title: 'Main',
      og_type: '',
      og_title: '',
      og_url: '',
      og_image: '',
      og_description: ''
    }

block content
  h1 Main content