include ../base/_mixins

block data

doctype html

html(lang='en')
  include ./head/_head-og

  body
    #app.main-wrapper
      header
        block header

      main.content(class=vars.content_class)
        block content

      footer
        block footer

    include ../base/_includes

